---
layout: main
---

<!--
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
-->

<section class="exercises-overview">
<h1>Site content</h1>

<ul>
  <li>Weekly plans as <a href="{{site.baseurl}}/weekly-plans">html</a></li>
  <li>Exercises as <a href="{{site.baseurl}}/exercises">html</a></li>
  <li>Other docs as <a href="{{site.baseurl}}/other-docs">html</a></li>
  <li>Weekly plans, exercises and docs as <a href="{{site.baseurl}}/pdf">pdf files</a></li>
  <li><a href="{{site.baseurl}}/tags">Tags</a></li>
</ul>

<h2>Links</h2>

<ul>
  <li>Python for everybody <a href="https://www.py4e.com/book.php">book</a></li>
  <li>Hand-in group on <a href="https://gitlab.com/20a-itt1-programming-exercises">gitlab</a></li>
  <li>Sample code from Charles Severance (PY4E Author) in a <a href="https://www.py4e.com/code3.zip">.zip file </a></li>
  <li>Sample code from Nikolaj Simonsen on <a href="https://gitlab.com/EAL-ITT/20a-itt1-programming/tree/master/docs/nikolaj_simonsen_programming_exercises">gitlab</a></li>
  <li>Zoom recordings (requires UCL account) <a href="https://drive.google.com/drive/folders/19uGRTlE1TBsPOW92P_EI3qXsxoH1I2LL?usp=sharing">Google drive</a></li>
</ul>

</section>